@import url(https://db.onlinewebfonts.com/c/2e492ac67105d56ef337489b56a86486?family=Cooper+BT+W03+Md);
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    font-family: "Nunito Sans", 'PT Sans', 'Didact Gothic', 'Garet', sans-serif;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .3s cubic-bezier(.39, .575, .565, 1);
    -webkit-font-smoothing: antialiased;

}

body {
    background-color: #FEF8F1;
}

.view-collections {
    margin-top: 10px;
    background: url(../images/Admin/Collection-back.jpeg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}