@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Nunito Sans', 'PT Sans','Didact Gothic','Garet', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s;
    outline: none;border:none;
    text-decoration: none;
    text-transform: uppercase;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;
}


.progress-checkout-container{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    
    margin-bottom: 20px; 
    position: fixed;
    top: 0; 
    padding: 10px 20px; 
    
    z-index: 999;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 150px; 
    
    
}

.progress-step-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-check{
    background-color: #9b3900;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-bottom: 1rem;
    position: relative;
    /* background-image: url(Resources/check.svg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.progress-step-container:nth-of-type(3) .step-check::after{
    display: none;
}
.progress-step-container:nth-of-type(3) .step-check{
    background-image: none;
    background-color: white;
    border: 2px solid grey;
}

.progress-step-container:nth-of-type(2) .step-check::after{
    background-color: grey;
}

.progress-step-container:nth-of-type(2) .step-check{
    background-image: none;
    background-color: white;
    border: 2px solid #9b3900;
}

.step-check::after{
    content: "";
    width: 15vw;
    height: 2px;
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%);
}

.step-title{
    color: grey;
}

.container{
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 0px;
    padding-top: 0px; 
}

.container form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container form .inputBox{
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container form .flexbox{
    display: flex;
    gap:15px;
}

.container form .flexbox .inputBox{
    flex:1 1 150px;
}

.container form .submit-btn{
    width: 100%;
    background:linear-gradient(45deg, #090979, #00d4ff);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}
.submit-btn{
    width: 100%;
    background:linear-gradient(45deg, #090979, #00d4ff);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}
.container form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.container .card-container{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg,   #090979, #00d4ff);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img{
    height: 50px;
}

.container .card-container .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.container .card-container .front .flexbox{
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container .card-container .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.container .card-container .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, #090979, #00d4ff);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.container .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box{
    padding: 0 20px;
}

.container .card-container .back .box span{
    color:#fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}
.form-container{
    width: 60%;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.form-title{
    font-size: 36px;
    margin-bottom: 2.5rem;
    font-weight: 500;
    opacity: 0.8;
}

.checkout-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.input-line{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

label{
    font-size: 16px;
    color: grey;
    margin-bottom: 0.5rem;
}

input[type="text"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

input[type="text"]::placeholder{
    font-size: 14px;
    color: #b9b9b9;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container .input-line{
    width: 48%;
}

input[type="button"]{
    background-color: rgb(0, 132, 255);
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: rgb(4, 88, 167);
}
.hidden {
    display: none;
}
.invalid {
    border: 1px solid red;
    color: red;
    font-size: 12px;
    
}
.error-message {
    color: red;
    font-size: 12px;
    
}
input[type="text"] .error-message{
    background-color: rgb(255, 172, 172);
}