@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

/* OPTIONAL FONT FOR LOGIN POP UP */
@import url(https://db.onlinewebfonts.com/c/be89a5bed739eee8649fa3322ff5c52b?family=Engravers%27+Gothic+BT);

/* FROM HAYA */
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    font-family: 'Nunito Sans', 'PT Sans','Didact Gothic','Garet', sans-serif;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .3s cubic-bezier(.39,.575,.565,1);
    -webkit-font-smoothing: antialiased;
}

body {
    /* background-image: url(../images/Landing/bg2.jpg); */
    background-color: rgb(254, 248, 241);
}

header{
    /* background-color:  rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(4px); */
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    text-transform: uppercase;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.19); */
}

.header-scrolled {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    text-transform: uppercase;
}

header a, header .navigation p{
    color: black;
}

header .search , header .searchField, header .searchField::placeholder, #side-icon {
    color: black;
}

header #search-button, #search-button2{
    border-color: black;
    background-color: transparent;
}

.side-icon {
    display: none;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin-left: -40px;
}

.navigation a{
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
    margin-left: 20px;
}

/* .navigation a:hover{
    color:rgb(228, 124, 33);
} */

.navigation i:hover{
    color:rgb(228, 124, 33);
}

.logo-unscrolled {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 8px 0;
}

.logo-unscrolled:hover {
    color:#E47C21;
}

.logo-scrolled {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    white-space: nowrap;
}

.header-top-unscrolled, .header-middle-unscrolled, .header-bottom-unscrolled {
    width: 100%;
    align-items: center;
    font-size: smaller;
    /* transition: fontSize 0ms ease; */
}

.header-top-unscrolled {
    justify-content: space-between;
}

.header-bottom-unscrolled {
    display: flex;
    flex-direction: column;
}

.header-top-unscrolled, .header-middle-unscrolled{
    display: flex;
    flex-direction: row;
}

.header-middle-unscrolled, .header-bottom-unscrolled {
    justify-content: center;
}


.header-bottom-anchor-extension {
    display: none;
    position: relative;
    padding: 10px;
    margin-top: 8px;
    background-color: white;
    border-top: 0.01em solid gainsboro;
    width: 100vw;
    height: 60vh;
    z-index: -1;
}

#header-bottom .navigation a:hover {
    border-bottom: 0.2em solid black;
    padding-bottom: 8px;
    transition: none;
}

#exit-extension-button {
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#exit-extension-button i {
    font-size: larger;
}

#collections-extension {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.extension-item {
    width: 300px;
    height: 500px;
    overflow: hidden;
    text-decoration: none;
    margin: 10px;
}

.extension-img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.category-img {
    width: 300px;
    height: 379px;
    object-fit: cover;
}

.extension-text {
    font-family: 'Futura PT';
    margin-bottom: 290px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.extension-button {
    font-family: sans-serif;
    font-size: smaller;
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.collection-extension {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SCROLLED */

.header-top-scrolled, .header-middle-scrolled, .header-bottom-scrolled{
    width: 100%;
    align-items: center;
}

.header-top-scrolled {
    justify-content: flex-end;
    font-size: medium;
}

.header-middle-scrolled {
    justify-content: space-between;
}

.header-bottom-scrolled {
    display: flex;
    flex-direction: column;
}

.header-top-scrolled, .header-middle-scrolled {
    display: flex;
    flex-direction: row;
}
/* 
.header-top-scrolled i{
    color: black;
}

.header-bottom-scrolled a{
    color: black;
} */

.header-bottom-scrolled {
    justify-content: center;
    font-size: smaller;
}

.store-services {
    display: flex;
    flex-direction: row;    
    justify-content: space-between; 
    align-items: center;
    margin: 0; 
    padding: 0;
}

.store-services a p, .user-data a p{
    display: inline;
    align-items: center;
    margin: 0; 
    padding: 0;
}

#search-button {
    display: flex;
}

.search-button-unscrolled {
    border-radius: 20px;
    width: 40px;
    margin-left: 10px;
    position: relative; 
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

.search-button-scrolled {
    color: black;
    border-color: black;
    border-radius: 20px;
    background-color: transparent;
    width: 40px;
    margin-left: 10px;
    position: relative; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

.searchField {
    padding: 10px;
    border-color: transparent;
    background-color: transparent;
    height: 30px;
    width: 0px; 
    padding-right: 40px; 
    box-sizing: border-box; 
    transition: width 0.5s ease;
}

.searchField:focus {
    outline: none;
    border-radius: 20px;
}

.search {
    /* background-image: url('../images/Landing/magnifying-glass1.png'); */
    font-size: 15px;
    background-color: transparent;
    border-color: transparent;
    /* color: #F6E8C0; */
    width: 30px;
    height: 30px;
    position: absolute; 
    top: 50%; 
    right: 5px;
    transform: translateY(-50%); 
    cursor: pointer; 
    /* background-size: contain; 
    background-repeat: no-repeat; */
    z-index: 999;
}


.sidepanel {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 9999999; 
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}

.sidepanel a {
    font-family: 'Futura Pt', sans-serif;
    text-transform: uppercase;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
    font-weight: 400;
}
.sidepanel a:hover {
    color: rgb(254, 248, 241);
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidepanel .dropdown {
    position: relative;
    display: inline-block;
}

.sidepanel .dropbtn {
    font-family: 'Futura Pt', sans-serif;
    text-transform: uppercase;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidepanel .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    z-index: 1;
}

.sidepanel .dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: #818181;
    text-decoration: none;
    font-size: 15px;
}

.sidepanel .dropdown-content a:hover {
    background-color: #333;
    color: rgb(254, 248, 241);
}

.sidepanel .dropdown:hover .dropdown-content {
    display: block;
}

.sidepanel .dropdown:hover .dropbtn {
    color: rgb(254, 248, 241);
}



.popup-container {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
    scroll-behavior: unset;
}

#exit-popup-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 100%;
    margin-top: -20px;
}

#exit-popup-button i{
    font-size: larger;
}

.login-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.01em solid black;
    padding: 0 20px;
    margin-bottom: 40px;
}

.login-nav-text-style {
    font-family: "Engravers' Gothic BT", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
}

.login-nav button {
    background-color: transparent;
    width: auto;
    border: none;
    font-size: 25px;
    text-align: center;
    padding: 30px;
    cursor: pointer;
}

.login-nav button.active {
    border-bottom: 0.1em solid black;
    transition: none;
}

#login-form {
    display: block;
}

#create-account-form {
    display: none;
}

.sign-up-name-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sign-up-fname {
    margin-right: 10px;
}

.popup-form {
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 590px;
    height: auto;
    max-height: 650px;
    overflow: scroll;
}

.popup-form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid silver;
    text-transform: none;
    font-family: sans-serif;
}

.popup-form label {
    font-family: sans-serif;
    font-size: 12px;
}

#remember-me-forgot-password-container{
    display: flex;
    justify-content: center;
}

.remember-me-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
}

#remember-me-checkbox {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

/* .forgot-password {
    margin-left: auto; 
    text-decoration: none;
    color: #007bff;
} */

.popup-form form button {
    width: 100%;
    font-size: 20px;
    border: none;
    margin-top: 24px;
    padding: 12px 30px;
    background-color: black;
    color: white;
}

.input-error {
    margin-top: -20px;
    margin-bottom: 10px;
    color: red;
    font-size: smaller;
}


/* END OF HEADER */

/* MAIN */

.CU {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CU h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    font-family: "Engravers' Gothic BT", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
    margin-top: 180px;
}

.main {
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
}

.main-content {
    color: black;
    margin-top: 30px;
    text-decoration: none;
    padding: 1.25rem;
    background-color: #f0ede8;
    width: 396px;
    height: 129px;
    border: .0625rem solid rgba(0, 0, 0, 0);
    margin-right: 20px;
}

.main-content:hover {
    border: 1px solid black;
}

#Contact-us, #CSAI, #email-us-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Email-us {
    display: flex;
    flex-direction: column;
}

.icon {
    margin-top: -35px;
    font-size: 30px;
    color: black;
    margin-right: 20px;
}

.main-text-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
}

.main-text-content h3 {
    font-size: medium;
    font-weight: 800;
}

.drop-down {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: large;
    color: black;
}

#email {
    margin-top: 7px;
    margin-left: 3.125rem;
}

.cspopup-form {
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 590px;
    height: auto;
    max-height: 650px;
    overflow: scroll;
}


#main-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw; 
    margin: 0 auto; 
    padding: 0 20px
}

.vertical-form input, .vertical-form select, .vertical-form textarea, .vertical-form select option{
    font-family: sans-serif;
    width: 620px;
    min-width: 300px;
    height: 39px;
    letter-spacing: 0.05em;
    font-size: 1rem;
    font-weight: normal;
    box-sizing: border-box;
    line-height: 1.5;
    color: #1f1f1f;
    transition: box-shadow .25s ease-in-out, border-color .25s ease-in-out;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid silver;
    font-weight: normal;
}

.vertical-form label{
    line-height: 1.8;
    font-size: 18px;
}

.vertical-form {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

textarea {
    min-height: 220px;
    max-width: 620px;
    resize: both;
}

.submit-button {
    background: rgba(0, 0, 0, 0);
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 18px;
    padding: 18px 45px;
    text-decoration: none;
    line-height: 1.125rem;
    margin-bottom: 20px;
    margin-top: -10px;
}

.submit-button:hover {
    background-color: #1f1f1f;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1400px) {
    .vertical-form input, .vertical-form select, .vertical-form textarea {
        width: 50px;
        margin-bottom: 20px ;
        padding: auto;
    }
}

@media screen and (max-width: 1090px){
    header {
        width: 100%;
    }

    .side-icon {
        display: block;
    }

    .logo {
        margin-right: 0;
    }

    .responsive {
        margin-right: 70px;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background: white;
        padding: 10px;
        z-index: 999;
    }

    .navigation a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 5px 0;
    }
} 