@import url(https://db.onlinewebfonts.com/c/2e492ac67105d56ef337489b56a86486?family=Cooper+BT+W03+Md);
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all .3s cubic-bezier(.39,.575,.565,1);
    -webkit-font-smoothing: antialiased;
}

body {
    /* background-image: url(../images/Landing/bg2.jpg); */
    background-color: rgb(254, 248, 241);
}

header{
    background-color:  rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    text-transform: uppercase;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.19); */
}

.header-scrolled {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    text-transform: uppercase;
}

header:hover {
    background-color: white;
}

header:hover a {
    color: black;
}

header:hover #search , header:hover #searchField, header:hover #searchField::placeholder {
    color: black;
}

header:hover #search-button{
    border-color: black;
    background-color: transparent;
}

.navigation a{
    color: #F6E8C0;
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
    margin-left: 20px;
}

.navigation a:hover{
    color:rgb(228, 124, 33);
}

.logo-unscrolled {
    color: #F6E8C0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 8px 0;
}

.logo-unscrolled:hover {
    color:#E47C21;
}

.logo-scrolled {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    white-space: nowrap;
}

.header-top-unscrolled, .header-middle-unscrolled, .header-bottom-unscrolled {
    width: 100%;
    align-items: center;
    font-size: smaller;
    /* transition: fontSize 0ms ease; */
}

.header-top-unscrolled {
    justify-content: space-between;
}

.header-bottom-unscrolled {
    display: flex;
    flex-direction: column;
}

.header-top-unscrolled, .header-middle-unscrolled{
    display: flex;
    flex-direction: row;
}

.header-middle-unscrolled, .header-bottom-unscrolled {
    justify-content: center;
}


.header-bottom-anchor-extension {
    display: none;
    position: relative;
    padding: 10px;
    margin-top: 8px;
    background-color: white;
    border-top: 0.01em solid gainsboro;
    width: 100vw;
    height: 60vh;
    z-index: -1;
}

#header-bottom .navigation a:hover {
    border-bottom: 0.2em solid black;
    padding-bottom: 8px;
    transition: none;
}

#exit-extension-button {
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#exit-extension-button i {
    font-size: larger;
}

#collections-extension {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.extension-item {
    width: 300px;
    height: 500px;
    overflow: hidden;
    text-decoration: none;
    margin: 10px;
}

.extension-img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.extension-text {
    font-family: 'Futura PT';
    margin-bottom: 290px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.extension-button {
    font-family: sans-serif;
    font-size: smaller;
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.collection-extension {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SCROLLED */

.header-top-scrolled, .header-middle-scrolled, .header-bottom-scrolled{
    width: 100%;
    align-items: center;
}

.header-top-scrolled {
    justify-content: flex-end;
    font-size: medium;
}

.header-middle-scrolled {
    justify-content: space-between;
}

.header-bottom-scrolled {
    display: flex;
    flex-direction: column;
}

.header-top-scrolled, .header-middle-scrolled {
    display: flex;
    flex-direction: row;
}

.header-top-scrolled i{
    color: black;
}

.header-bottom-scrolled a{
    color: black;
}

.header-bottom-scrolled {
    justify-content: center;
    font-size: smaller;
}

.store-services {
    display: flex;
    flex-direction: row;    
    justify-content: space-between; 
    align-items: center;
    margin: 0; 
    padding: 0;
}

.store-services a p, .user-data a p{
    display: inline;
    align-items: center;
    margin: 0; 
    padding: 0;
}

.search-button-unscrolled {
    color: #F6E8C0;
    border-color: #F6E8C0;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.3);
    width: 40px;
    margin-left: 10px;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

.search-button-scrolled {
    color: black;
    border-color: black;
    border-radius: 20px;
    background-color: transparent;
    width: 40px;
    margin-left: 10px;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

#searchField {
    padding: 10px;
    color: #F6E8C0;
    border-color: transparent;
    background-color: transparent;
    height: 30px;
    width: 0px; 
    padding-right: 40px; 
    box-sizing: border-box; 
    transition: width 0.5s ease;
}

#searchField:focus {
    outline: none;
    border-radius: 20px;
}

#searchField::placeholder {
    color: #F6E8C0;
}

#search {
    /* background-image: url('../images/Landing/magnifying-glass1.png'); */
    color: #F6E8C0;
    font-size: 15px;
    background-color: transparent;
    border-color: transparent;
    /* color: #F6E8C0; */
    width: 30px;
    height: 30px;
    position: absolute; 
    top: 50%; 
    right: 5px;
    transform: translateY(-50%); 
    cursor: pointer; 
    /* background-size: contain; 
    background-repeat: no-repeat; */
    z-index: 999;
}

.icon {
    display: none;
}

.navigation {
    display: block;
}

@media only screen and (max-width: 900px) {
    .icon {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .logo {
        margin-right: 0;

    }

    .responsive {
        margin-right: 70px;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background: white;
        padding: 10px;
        z-index: 999;
    }

    .navigation a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 5px 0;
    }
}
/* -------------------------------------END OF HEADER------------------------------------- */
.intro{
    position: relative;
    background-image: url("../images/Indian/IndianBG.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 210vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.overlay{
    background-color: white;
    position: absolute;
    top: 52%;
    left: 50%;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;

}

.left-content{
    width: 50%;
    padding: 5vw; 
    margin: 5vw; 
    
    position: sticky;
    top: 0;
}
.left-content p{
    color: rgb(98, 98, 98);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 1px;
}
.left-content h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 3vw;
}
.left-content button{
    background-color: transparent;
    border: black 1px solid;
    color: black;
    padding: 10px;
    width: 50%;
    margin-top: 10%;
    font-weight: 100;
    font-size: 1vw;
    text-decoration: none;
    z-index: 100;
}
.left-content button a{
    color: black;
    text-decoration: none;
}
.left-content button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}
.left-content button:hover a{
    color: white;

}
.right-content {
    width: 70%;
    padding: 5vw;
    margin: 5vw;
    text-align: center;
}

.right-content img {
    max-width: 100%;
    height: auto;
}
.right-content video {
    max-width: 100%;
    height: auto;
}
.container {
    display: grid;
    grid-template-rows: repeat(20, 5vw); 
    grid-template-columns: repeat(10, 1fr); 
    grid-gap: 1vw; 
    
}

.item.show {
    opacity: 1; /* Show the items */
    transform: translateY(0); /* Move the items to their original position */
}
.item {
    transition: opacity 0.5s ease; /* Add transition for opacity for all items */
}

.item-1 {
    grid-area: 1 / 1 / 10 / 8;
}

.item-2 {
    grid-area: 3 / 6 / 13 / 14;
    z-index: 1;
}

.item-3 {
    grid-area: 6 / 3 / 15 / 9 ;
}

.item-4 {
    grid-area: 10 / 1 / 16 / 8;
    opacity: 0; /* Initially hide the 4th item */
    z-index: 2;
}

.item-5 {
    grid-area: 12 / 6 / 19 / 14;
    opacity: 0; /* Initially hide the 5th item */
}

.item.show {
    opacity: 1; /* Show the items */
}
/* ----------------------------------------------------FIRST SECTION END------------------------------------------------------ */


.filter-box{
    display:block;
    
    align-items: left;
    margin-top: 20px;
    background-color: white;
    padding-top: 30px;
    padding-left: 40px;
    margin-left:30px;
    
  
}
.filter-container{
    /* display:inline-block;
    vertical-align: top;
    position: relative; */
    margin-right:20px;
    position: relative;
   
   
  
}

/* select{
    padding:10px;
    font-size:16px;
} */

span{

    padding:20px;
    background: white;
    color:black;
    font-size: 0.99em;
    font-variant: small-caps;
    cursor:pointer;
    display:block;
    border: 2px solid black;
    width:auto;
    margin-bottom: 0;
 

}
span::after{
    float:right;
    right:10%;
   
}
.slide{
    clear:both;
    width:auto;
    height:0px;
    overflow:hidden;
    text-align: center;
    transition: height .4s ease;
    /* border:1px solid black; */
    list-style-type: none;
    padding:0;
    margin:0;
    position:absolute;
    background-color: white;
    top:calc(100% + 1px);
    z-index:1;
  

}
.filter-container {
    width: 200px; /* Adjust the width as needed */
    margin-right: 20px; /* Add margin for spacing between filter containers */
    display: inline-block; /* Display filter containers inline */
    background-color: transparent ;
}

/* Adjust other styles as needed */

.slide li{
    /* padding:10px; */
    border:1px solid #ccc;
    color:black;
    align-items: center;
    /* width:100%;
    box-sizing: border-box; */
}
.slide a{
    text-decoration: none;
    color:black;
    display:block;
    padding:10px 20px;
    transition: background-color 0.3s ;
}
.slide a:hover{
    background-color: #f1f1f1;

}
.filter-box label{
    margin-bottom:5px;
    display: block;
    /* position: relative; */
   
   
}
input[type="checkbox"]{
    display:none;
}

.filter-container:hover input[type="checkbox"]+ .slide{
    height:auto;
   
    top:100%;
    width:100%;
    /* width:max-content; */
    left: 0;
   
}
.filter-box p{
    font-size: 20px;
   
    color: black;
    display: flex;
    align-items: center;
}
.filter-heading{
    margin-right:10px;
  
    
}
.filter-heading p{
    margin-right:10px;
    display:inline-flex;
  
}
.filter-options{
    display:inline-flex;
    flex-wrap:wrap;
}
#category{
    position: absolute;
    opacity: 0;
    height:0px;
}
#category:checked + .slide{
    height:auto;
    width:100%;
}
#availability{
    position: absolute;
    opacity: 0;
    height:0px;
}
#availability:checked + .slide{
    height:auto;
}
#colors{
    position: absolute;
    opacity: 0;
    height:0px;
}
#colors:checked + .slide{
    height:auto;
    width:100%;
}
/* --------------          --------------------HALA'S FILTER END----------------------------------------------------------- */
.curtain-btn{
    position: absolute;
    top:0;
    left:0;
    background-color: brown;
    color:white;
    padding:10px 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity:0;
    border-radius: 0px 0px 20px 0px;
}

.popupMessage{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding:10px 20px;
    border:1px solid black;
    border-radius:5px;
    display:none;
    z-index:9999;
    animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown{
    0%{
        top:-110px;

    }
    100%{
        top:14px;
    }
}
.c-pic:hover .curtain-btn{
    opacity:1;
}
/* --------------          --------------------HALA'S FILTER END----------------------------------------------------------- */

.filters{
    display: inline-block;
    padding: 30px;
    margin: 20px;
}
.filters p{
    font-size: 20px;
    /* color: rgb(69, 68, 68); */
    /* color: rgb(102, 43, 16); */
    color: black;
    display: inline-block;
}
.fa-sliders{
    color: black;
    /* color: rgb(69, 68, 68); */
    /* color: rgb(102, 43, 16); */
}

#count{
    color: rgb(128, 127, 127);
    font-weight: lighter;
    font-size: 18px;
}

hr{
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
.cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.imge{
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 300px;
}
.imge i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.imge i:hover{
    transform: scale(1.1);
    color: rgb(158, 2, 2);
    font-weight: bolder;
}
.imge img:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease;
}
.card1{
    overflow: hidden;
    position: relative;
    width: 300;
    width: fit-content;
    margin-right: 20px;
    margin-top: 3%;
    height: 29em;
}
/* .card1:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width:max-content;
} */

.info {
    font-weight: 100;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 250px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the content horizontally */
    font-weight: 200;

}

#price{
    font-weight: 300;
}
.info button{
    padding: 3%;
    width: 60%;
    color: white;
    background-color: black;
    border: black 1px solid;
    margin-top: 5%;
    cursor: pointer;
}
.info button:hover{
    color: black;
    background-color: white;
}
sort {
    align-items: center; 
    margin-top: 20px;
}

.sort p{
    margin-right: 1125px;
}

.sort span {
    color: rgb(128, 127, 127);
}

#sortButton {
    color: rgb(128, 127, 127);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}

.priceButton {
    position: relative; 
    width: 155px;
    background-color: transparent;
    border: #bab9b9 1px solid;
    margin: 2% 1% 2% 0;
    float: left; 
}

.priceButton:last-child {
    margin-right: 0; 
}

.spann {
    padding: 10px;
    background-color: transparent;
    color: rgb(105, 105, 105);
    cursor: pointer;
    display: block;
    font-size: 20px;
}

.spann i {
    margin-left: 50%;
    font-size: 15px;
}

.spann::after {
    float: right;
    right: 10%;
}

/* ----------------------FIRST FILTER------------------ */
.slide{
    position: absolute; 
    top: 101%; 
    left: 0;
    width: calc(102% - 2px); 
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.9s ease;
    z-index: 1000;
    background-color: white;
    border: #bab9b9 1px solid;
    border-top: none; 
    margin-top: -1px; 
}
.slide li{
    padding: 10px;
}
#touch{position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: fit-content;} 

.slide button{
    width: 100%;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.slide button:hover{
    background-color: #f1f1f1;
}
/* ----------------------SECOND FILTER------------------ */
.slide2{
    position: absolute; 
    top: 101%; 
    left: 0;
    width: calc(102% - 2px); 
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.9s ease;
    z-index: 1000;
    background-color: white;
    border: #bab9b9 1px solid;
    border-top: none; 
    margin-top: -1px; 
}
.slide2 li{
    padding: 10px;
}
#touch2{position: absolute; opacity: 0; height: 0px;}    

#touch2:checked + .slide2 {height: fit-content;} 

.slide2 button{
    width: 100%;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.slide2 button:hover{
    background-color: #f1f1f1;
}

/* ----------------------THIRD FILTER------------------ */


.slide4 {
    position: absolute; 
    top: 101%; 
    left: 0;
    width: calc(102% - 2px); 
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.9s ease;
    z-index: 1000;
    background-color: white;
    border: #bab9b9 1px solid;
    border-top: none; 
    margin-top: -1px; 
}

.slide4 li {
    padding: 10px;
}
#touch4{position: absolute; opacity: 0; height: 0px;}    

#touch4:checked + .slide4 {height: fit-content;} 

.slide4 button{
    width: 100%;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.slide4 button:hover{
    background-color: #f1f1f1;
}


.containerr {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    margin-top: 15px;

  }
  
  /* Hide the browser's default checkbox */
  .containerr input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 16px;
    background-color: transparent;
    border: 2px solid #546678;
    margin-left: 7px;
  }
  
  /* When the checkbox is checked, add a navy background */
  .containerr input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the checkmark (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerr input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark */
  .containerr .checkmark:after {
    left: 3px;
    width: 4px;
    height: 8px;
    border: solid rgb(0, 0, 0);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .slide4 button{
    width: 100%;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.slide4 button:hover{
    background-color: #f1f1f1;
}
.slide3{
    position: absolute; 
    top: 101%; 
    left: 0;
    width: calc(102% - 2px); 
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.9s ease;
    z-index: 1000;
    background-color: white;
    border: #bab9b9 1px solid;
    border-top: none; 
    margin-top: -1px; 
}
.slide3 li{
    padding: 10px;
}
#touch3{position: absolute; opacity: 0; height: 0px;}    

#touch3:checked + .slide3 {height: fit-content;} 

.slide3 button{
    width: 100%;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.slide3 button:hover{
    background-color: #f1f1f1;
}
@media (max-width:1100px) {
    .intro{
        background-size: cover;
        width:auto;
        height: 90em;
    }
    .overlay{
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        width: 90%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: flex-start;
    
    }
    body{
        margin: 0;
        overflow-x: hidden;
    }
    .header{
        margin: 0;
        overflow-x: hidden;
    }
}
@media (max-width:1020px){
    .overlay {
        flex-direction: column; 
        align-items: center;
    }

    .left-content{
        width: 90%; 
        padding: 5vw; 
        margin: 5vw;
        text-align: justify;
        letter-spacing: 1px;
        position: sticky;
        top: 0;
    }
    
    .right-content {
        width: 90%; 
        padding: 5vw;
        margin: 5vw;
        text-align: center;
        margin-top: 5px;
    }

    .right-content img {
        max-width: 100%;
        height: auto;
        
    }

    .right-content video {
        max-width: 100%;
        height: auto;
    }
    .right-content button {
        margin: 0 auto; /* Center the button horizontally */
        display: block; /* Ensure it takes full width */
    }
    .container {
        margin-top: 0px; 
    }
    .intro{
        height: 190em;

    }
    .overlay{
        height: 90%;

    }
    
    .item-1{
        grid-area: 1 / 1 / 6 / 7;
    }
    .item-2{
        grid-area: 5 / 6 / 10 / 13;
        z-index: 1;
    }
    .item-3{
        grid-area: 11 / 3 / 18 / 8 ;
        z-index: -1;
    }
    .item-4{
        grid-area: 20 / 1 / 25 / 7;
        z-index: 2;
    }
    .item-5{
        grid-area: 22 / 6 / 27 / 13;
    }
    body{
        margin: 0;
        overflow-x: hidden;
    }
    .header{
        margin: 0;
        overflow-x: hidden;
    }
}
@media (max-width:425px){
    .intro{
        height: 80em;

    }
    .overlay{
        height: 90%;
        top: 53%;
    }
    body{
        margin: 0;
        overflow-x: hidden;
    }
}
@media (max-width:1425px){
    body{
        margin: 0;
        overflow-x: hidden;
    }
    .header{
        margin: 0;
        overflow-x: hidden;
    }
}
@media (max-width:700px){
    .intro{
        height: 140em;

    }
    .overlay{
        height: 90%;

    }
}