@import url(https://db.onlinewebfonts.com/c/2e492ac67105d56ef337489b56a86486?family=Cooper+BT+W03+Md);
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

/* FROM HAYA */
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    font-family: 'Nunito Sans', 'PT Sans','Didact Gothic','Garet', sans-serif;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .3s cubic-bezier(.39,.575,.565,1);
    -webkit-font-smoothing: antialiased;
}

/* video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}  */

body {
    /* background-image: url(../images/Landing/bg2.jpg); */
    background-color: rgb(254, 248, 241);
}

header{
    /* background-color:  rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(4px); */
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    text-transform: uppercase;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.19); */
}

.header-scrolled {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    text-transform: uppercase;
}

header:hover {
    background-color: white;
}

header:hover a {
    color: black;
}

header:hover #search , header:hover #searchField, header:hover #searchField::placeholder {
    color: black;
}

header:hover #search-button{
    border-color: black;
    background-color: transparent;
}

.navigation a{
    color: #F6E8C0;
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
    margin-left: 20px;
}

.navigation a:hover{
    color:rgb(228, 124, 33);
}

.logo-unscrolled {
    color: #F6E8C0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 8px 0;
}

.logo-unscrolled:hover {
    color:#E47C21;
}

.logo-scrolled {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    white-space: nowrap;
}

.header-top-unscrolled, .header-middle-unscrolled, .header-bottom-unscrolled {
    width: 100%;
    align-items: center;
    font-size: smaller;
    /* transition: fontSize 0ms ease; */
}

.header-top-unscrolled {
    justify-content: space-between;
}

.header-bottom-unscrolled {
    display: flex;
    flex-direction: column;
}

.header-top-unscrolled, .header-middle-unscrolled{
    display: flex;
    flex-direction: row;
}

.header-middle-unscrolled, .header-bottom-unscrolled {
    justify-content: center;
}


.header-bottom-anchor-extension {
    display: none;
    position: relative;
    padding: 10px;
    margin-top: 8px;
    background-color: white;
    border-top: 0.01em solid gainsboro;
    width: 100vw;
    height: 60vh;
    z-index: -1;
}

#header-bottom .navigation a:hover {
    border-bottom: 0.2em solid black;
    padding-bottom: 8px;
    transition: none;
}

#exit-extension-button {
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#exit-extension-button i {
    font-size: larger;
}

#collections-extension {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.extension-item {
    width: 300px;
    height: 500px;
    overflow: hidden;
    text-decoration: none;
    margin: 10px;
}

.extension-img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.extension-text {
    font-family: 'Futura PT';
    margin-bottom: 290px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.extension-button {
    font-family: sans-serif;
    font-size: smaller;
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.collection-extension {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SCROLLED */

.header-top-scrolled, .header-middle-scrolled, .header-bottom-scrolled{
    width: 100%;
    align-items: center;
}

.header-top-scrolled {
    justify-content: flex-end;
    font-size: medium;
}

.header-middle-scrolled {
    justify-content: space-between;
}

.header-bottom-scrolled {
    display: flex;
    flex-direction: column;
}

.header-top-scrolled, .header-middle-scrolled {
    display: flex;
    flex-direction: row;
}

.header-top-scrolled i{
    color: black;
}

.header-bottom-scrolled a{
    color: black;
}

.header-bottom-scrolled {
    justify-content: center;
    font-size: smaller;
}

.store-services {
    display: flex;
    flex-direction: row;    
    justify-content: space-between; 
    align-items: center;
    margin: 0; 
    padding: 0;
}

.store-services a p, .user-data a p{
    display: inline;
    align-items: center;
    margin: 0; 
    padding: 0;
}

.search-button-unscrolled {
    color: #F6E8C0;
    border-color: #F6E8C0;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.3);
    width: 40px;
    margin-left: 10px;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

.search-button-scrolled {
    color: black;
    border-color: black;
    border-radius: 20px;
    background-color: transparent;
    width: 40px;
    margin-left: 10px;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

#searchField {
    padding: 10px;
    color: #F6E8C0;
    border-color: transparent;
    background-color: transparent;
    height: 30px;
    width: 0px; 
    padding-right: 40px; 
    box-sizing: border-box; 
    transition: width 0.5s ease;
}

#searchField:focus {
    outline: none;
    border-radius: 20px;
}

#searchField::placeholder {
    color: #F6E8C0;
}

#search {
    /* background-image: url('../images/Landing/magnifying-glass1.png'); */
    color: #F6E8C0;
    font-size: 15px;
    background-color: transparent;
    border-color: transparent;
    /* color: #F6E8C0; */
    width: 30px;
    height: 30px;
    position: absolute; 
    top: 50%; 
    right: 5px;
    transform: translateY(-50%); 
    cursor: pointer; 
    /* background-size: contain; 
    background-repeat: no-repeat; */
    z-index: 999;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    overflow: hidden;
}

.main h1 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    line-height: 2.75rem;
    font-weight: 600;
    font-family: 'Futura PT';
    text-transform: uppercase;
    color:#F6E8C0;
}

.main-text {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border: .0625rem solid #FFFFFF;
    background-color: transparent;
    color: #fff;
    font-family: futura-pt, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .0625rem;
    line-height: 1.625rem;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .75rem 1.875rem;
    text-transform: uppercase;
    transition: background-color ease-in-out .2s;
    text-decoration: none;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the video width cover the entire main section */
    height: 100%; /* Make the video height cover the entire main section */
    object-fit: cover; /* Ensure the video fills the entire space of the video container without distorting it */
    z-index: -1; 
}

.best-sellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best-sellers-multiple-card-slide {
    display: flex;
    flex-direction: row;
}


.carousel {
    position: relative;
    height: 70vh;
    width: 90%;
    /* overflow: hidden; */
}

.carousel__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 0.5s ease;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 100;
}

.carousel__button--left {
    margin-left: -50px;
}

.carousel__button--right {
    right: -30px;
}

.carousel__button i {
    font-size: 50px;
    color: #33333379;
    transition: color 0.3s ease;
}

.carousel__button i:hover {
    color: #333333d3;
}

.is-hidden {
    display: none;
}


/* CARDS FROM HAYA */
.imge{
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 300px;
}
.imge i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.imge i:hover{
    transform: scale(1.1);
    color: rgb(158, 2, 2);
    font-weight: bolder;
}
.imge img:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease;
}
.card{
    overflow: hidden;
    position: relative;
    width: 300;
    width: fit-content;
    margin-right: 20px;
    margin-top: 3%;
    height: 29em;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.info p {
    margin: 10px 0 0 5px;
    font-weight: 600;
}

.info button{
    padding: 3%;
    width: 60%;
    color: white;
    background-color: black;
    border: black 1px solid;
    margin-top: 5%;
    cursor: pointer;
}
.info button:hover{
    color: black;
    background-color: white;
}

.categories-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: default;
}

.categories {
    background-image: url('../images/Landing/bg2.jpg');
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.item a{
    position: absolute;
    display: flex;
    z-index: 1;
    width: 300px;
    height: 456.2px;
    overflow: hidden;
}

.category-img {
    width: 300px;
    height: 379px;
    object-fit: cover;
}

.primary-img {
    opacity: 1;
}

.secondary-img {
    opacity: 0;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
}

.categories div {
    margin: 10px 5px;
    text-align: center;
}

.categories p {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -25px;
}

.headers {
    font-family: 'Futura PT';
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.categories h1 {
    color: white;
}

.indian-collection, .egyptian-collection {
    background-color: #F6E8C0;
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.egyptian-collection {
    margin-top: 0px;
}

.collection {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.collection img{
    position: absolute;
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.collection-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 180px;
}

.indian-collection-text {
    margin-left: 480px;
}

.egyptian-collection-text {
    margin-right: 480px;
}

.collection h2, .collection p{
    position: relative; 
    text-align: center;
    font-family: 'Futura PT';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 65px;
    z-index: 1;
}

.collection p {
    /* font-size: 24.2px; */
    font-size: 20px;
}

.egyptian-collection h2, .egyptian-collection p, .egyptian-collection a {
    color: #9F978C;
    border-color: #9F978C;
}

.indian-collection h2, .indian-collection p, .indian-collection a {
    color: #CD711E;
    border-color: #CD711E;
} 

.collection-button {
    background-color:transparent;
    margin-top: 20px;
    z-index: 1;
}

.collection-button a{
    font-family: 'Futura PT';
    font-size: 20px;
    font-weight: 500;
    border: .0625rem solid;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .0625rem;
    line-height: 1.625rem;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .75rem 1.875rem;
}

/* .collections-container {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* .collections div {
    margin: 0 10px;
}

.collection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 303px;
    height: 689px; 
} */

/* .collection-img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    transition: transform 0.3s ease;
}

.collection p {
    position: relative; 
    text-align: center;
    font-family: 'Futura PT';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 39px;
    margin-top: -280px;
}

.indian p {
    color: #CD711E;
}

.egyptian p {
    color: #9F978C;
}

.vintage p {
    color: #F9D199;
}

.middle-eastern p {
    color: #F8EDB0;
} */

/* .collection:hover .collection-img {
    transform: scale(1.1); 
} */

/* .best-sellers {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
} */

/* .slider_container {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: .5rem;
    position: relative;
}

.slider_container:before,
.slider_container:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.slider_container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0),  rgb(254, 248, 241));
}

.slider_container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),  rgb(254, 248, 241));
}

.slider {
    display: flex;
    height: 100%;
    padding: 0 20px; 
}

span {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.5rem;
    background-color: rgba(14, 14, 14, .7);
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 200ms ease-in-out background-color;
}

.leftBtn {
    left:  5%;
}
.rightBtn {
    right: 5%;
}

span:hover {
    background-color: rgba(14, 14, 14, 1);
}
span:active {
    transform: translateY(-50%) scale(.9);
}

.slider img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
}

.slider a, .slider img, .item {
    width: 223.18px;
    height: 479px;
}

.slider .item .button {
    border-color: #333;
    color: #333;
    font-size: small;
} */
