body {
    background-image: url("../images/Quiz/download\ \(9\).jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
/* #progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
}

#progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0%;
} */
.overlay{
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 52%;
    left: 50%;
    height: 85%;
    width: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;

}

.next{
    background-color: transparent;
    border-radius:3px ;
    border: 1px solid rgb(121, 74, 26);
    z-index: 1;
    width: 10vw;
    height: 3vw;
    margin-top: 20px;
}
.next:hover{
    background-color: rgb(121, 74, 26);
    color: white;
    transition: 0.3s ease;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.exit-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 90%;
    margin-top: -150px;
}

.exit-popup i{
    font-size: larger;
}


.question1 {
    text-align: center;
    height: 100vh;
    margin-top: 110px;
    margin-left: 110px;

}

.question1 p {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;

}

.images {
    display: inline-block; 
}

.images img {
    margin: 5px;
}

.next {
    margin-top: 20px; 
}
.response {
    border: 4px solid transparent;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
}

.response.active {
    border: 4px solid rgb(121, 74, 26);
    transition: 0.3s;
    transform: scale(1.1);
    margin: 20px 20px 0 20px;

}

/* ----------------------------------------------------QUESTION 2------------------------------------------------------------------ */
.question2 {
    text-align: center;
    height: 100vh;
    margin-top: 180px;
    margin-left: 20em;
}

.question2 p {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 500;
}
.response2 {
    border: 2px solid rgb(121, 74, 26);
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    width: 200px;
    height: 130px;
}

.response2.active {
    border: 4px solid rgb(121, 74, 26);
    transition: 0.3s;
    transform: scale(1.1);
    margin: 20px;
    margin-bottom: 20px;

}
.question2 span a{
    color: rgb(88, 42, 42);
}

/* ----------------------------------------------------QUESTION 2------------------------------------------------------------------ */

.question3 {
    text-align: center;
    height: 100vh;
    margin-top: 180px;
    margin-left: 11em;
}

.question3 p {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 500;
}
.response3 {
    border: 2px solid rgb(121, 74, 26);
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    width: 200px;
    height: 130px;
}

.response3.active {
    border: 4px solid rgb(121, 74, 26);
    transition: 0.3s;
    transform: scale(1.1);
    margin: 20px;
    margin-bottom: 20px;

}
/* ----------------------------------------------------QUESTION 4------------------------------------------------------------------ */

.question4 {
    text-align: center;
    height: 100vh;
    margin-top: 180px;
    margin-left: 16em;
}

.question4 p {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 500;
}
.response4 {
    border: 2px solid rgb(121, 74, 26);
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    width: 200px;
    height: 130px;
}

.response4.active {
    border: 4px solid rgb(121, 74, 26);
    transition: 0.3s;
    transform: scale(1.1);
    margin: 20px;
    margin-bottom: 20px;

}

/* ----------------------------------------------------QUESTION 4------------------------------------------------------------------ */

.question5 {
    text-align: center;
    height: 100vh;
    margin-top: 180px;
    margin-left: 2em;
}

.question5 p {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 500;
}

.question5 input[type="text"] {
    box-sizing: border-box; /* Include padding in width/height calculations */
    border: transparent;
    height: 70px;
    width: 380px;
    padding: 20px;
    margin-left: 3em;
}

.response5 {
    border: 2px solid rgb(121, 74, 26);
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    width: 200px;
    height: 130px;
}

.response5.active {
    border: 4px solid rgb(121, 74, 26);
    transition: 0.3s;
    transform: scale(1.1);
    margin: 20px;
    margin-bottom: 20px;

}



.question6 {
    text-align: center;
    height: 100vh;
    margin-top: -20px;
    margin-left: -15px;

}

.question6 p {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;

}

.images {
    display: inline-block; 
}

.images img {
    margin: 5px;
}

.next {
    margin-top: 20px; 
}
.response6 {
    border: 4px solid transparent;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
}

.response6.active {
    border: 4px solid rgb(121, 74, 26);
    transition: 0.3s;
    transform: scale(1.1);
    margin: 20px 20px 0 20px;

}


.question7 {
    text-align: center;
    height: 100vh;
    margin-top: 20px;
    margin-left: 1em;
}

.question7 p {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 500;
}
.response7 {
    border: 2px solid rgb(121, 74, 26);
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    width: 50em;
    height: 80px;
    margin-bottom: 20px;
}

.response7.active {
    border: 4px solid rgb(121, 74, 26);
    transition: 0.3s;
    transform: scale(1.1);
    margin: 20px;
    margin-bottom: 20px;

}

.result-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* adjust as needed */
    margin-top: 130px;
    margin-left: -2em;
}
.result-card img{
    height: 300px;

}
.result-text {
    margin-top: -85%;
    margin-left: 110%;
    width: 90%;
    color: black;
    z-index: 9999;
}

.best-sellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80em;
}

.best-sellers-multiple-card-slide {
    display: flex;
    flex-direction: row;
}


.carousel {
    position: relative;
    height: 70vh;
    width: 1375px;
    /* overflow: hidden; */
}

.carousel__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 0.5s ease;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 100;
}

.carousel__button--left {
    margin-left: -50px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button i {
    font-size: 50px;
    color: #33333379;
    transition: color 0.3s ease;
}

.carousel__button i:hover {
    color: #333333d3;
}

.is-hidden {
    display: none;
}


/* CARDS FROM HAYA */
.imge{
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 300px;
}
.imge i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.imge i:hover{
    transform: scale(1.1);
    color: rgb(158, 2, 2);
    font-weight: bolder;
}
.imge img:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease;
}
.card{
    overflow: hidden;
    position: relative;
    width: 300;
    width: fit-content;
    margin-right: 20px;
    margin-top: 3%;
    height: 29em;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.info p {
    margin: 10px 0 0 5px;
    font-weight: 600;
}

.info button{
    padding: 3%;
    width: 60%;
    color: white;
    background-color: black;
    border: black 1px solid;
    margin-top: 5%;
    cursor: pointer;
}
.info button:hover{
    color: black;
    background-color: white;
}

/* CATEGORIES */

.categories-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    cursor: default;
}

.categories {
    background-image: url('../images/Landing/bg2.jpg');
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.item a{
    position: absolute;
    display: flex;
    z-index: 1;
    width: 300px;
    height: 456.2px;
    overflow: hidden;
}

.primary-img {
    opacity: 1;
}

.secondary-img {
    opacity: 0;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
}

.categories div {
    margin: 10px 5px;
    text-align: center;
}

.categories p {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -25px;
}

.headers {
    font-family: 'Futura PT';
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.categories h1 {
    color: white;
}
