body {
    background-image: url("../images/Quiz/4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.next{
    background-color: white;
    border-radius:3px ;
    border: 1px solid rgb(121, 74, 26);
    z-index: 1;
    width: 7vw;
    height: 2vw;
    margin-top: 20px;
}
.next:hover{
    background-color: rgb(121, 74, 26);
    color: white;
    transition: 0.3s ease;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}


.question1 {
    text-align: center;
    height: 100vh;
    margin-top: 150px;
}

.question1 p {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.images {
    display: inline-block; 
}

.images img {
    margin: 5px;
}

.next {
    margin-top: 20px; 
}
.response {
    border: 4px solid transparent;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
}

.response.active {
    border: 4px solid rgb(121, 74, 26);
    transition: 0.3s;
    transform: scale(1.1);
    margin: 20px 20px 0 20px;

}

/* ----------------------------------------------------QUESTION 2------------------------------------------------------------------ */
.question2 {
    text-align: center;
    height: 100vh;
    margin-top: 150px;
}

.question2 p {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}
.response2 {
    border: 2px solid rgb(121, 74, 26);
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    width: 200px;
    height: 130px;
}

.response2.active {
    border: 4px solid rgb(121, 74, 26);
    transition: 0.3s;
    transform: scale(1.1);
    margin: 20px;
    margin-bottom: 20px;

}
.question2 span a{
    color: rgb(88, 42, 42);
}