body {
    background-image: url("../images/Quiz/4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.container {
    text-align: center;
    display: flex;
    justify-content: space-between;

}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pop, .intro {
    width: 80%; /* Adjust width as needed */
}

.intro {
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(121, 74, 26);
    text-align: justify;
    margin-left: 5vw;
}

.pop {
    color: rgb(88, 64, 40);
    padding: 50px;
}

.pop hr {
    border: none; 
    height: 1px; 
    background-color: #000; 
    margin: 10px 0; 
}

.card1,
.card2 {
    display: inline-block; 
    width: calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid white; 
    border-radius: 5px; 
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    height: 11vw;
    margin-top: 3vw;
}

.card1 p,
.card2 p {
    margin-top: 0;
}
.card1 button{
    background-color: transparent;
    border-radius:3px ;
    border: 1px solid rgb(121, 74, 26);
    z-index: 1;
    width: 7vw;
    height: 2vw;
}
.card1 button:hover{
    background-color: rgb(121, 74, 26);
    color: white;
    transition: 0.3s ease;
}
.card2 button{
    background-color: transparent;
    border-radius:3px ;
    border: 1px solid rgb(121, 74, 26);
    z-index: 1;
    width: 7vw;
    height: 2vw;
}
.card2 button:hover{
    background-color: rgb(121, 74, 26);
    color: white;
    transition: 0.3s ease;
}
.imge{
    margin-top: 10%;
}
.imge img{
    border: 20px solid rgb(248, 246, 246);
}