@import url(https://db.onlinewebfonts.com/c/2e492ac67105d56ef337489b56a86486?family=Cooper+BT+W03+Md);
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all .3s cubic-bezier(.39,.575,.565,1);
    -webkit-font-smoothing: antialiased;
}

header{
    /* background-color:  rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(4px); */
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    text-transform: uppercase;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.19); */
}

.header-scrolled {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    text-transform: uppercase;
}

header:hover {
    background-color: white;
}

header:hover a {
    color: black;
}

header:hover #search-button{
    color: black;
    border-color: black;
    background-color: transparent;
}

header:hover #search , header:hover #searchField, header:hover #searchField::placeholder {
    color: black;
}

.navigation a{
    color: #F6E8C0;
    font-size: 1.1em;
    text-decoration: none;
    padding-left: 20px;
}

.navigation a:hover{
    color:rgb(228, 124, 33);
}

.logo-unscrolled {
    color: #F6E8C0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 8px 0;
}

.logo-unscrolled:hover {
    color:#E47C21;
}

.logo-scrolled {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    white-space: nowrap;
}

.header-top-unscrolled, .header-middle-unscrolled, .header-bottom-unscrolled {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: smaller;
    /* transition: fontSize 0ms ease; */
}

.header-top-unscrolled {
    justify-content: space-between;
}

.header-middle-unscrolled {
    justify-content: center;
}

.header-bottom-unscrolled {
    justify-content: center;
}

/* SCROLLED */

.header-top-scrolled, .header-middle-scrolled, .header-bottom-scrolled{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-top-scrolled {
    justify-content: flex-end;
    font-size: medium;
}

.header-middle-scrolled {
    justify-content: space-between;
}

.header-top-scrolled i{
    color: black;
}

.header-bottom-scrolled a{
    color: black;
}

.header-bottom-scrolled {
    justify-content: center;
    font-size: smaller;
}

.store-services {
    display: flex;
    flex-direction: row;    
    justify-content: space-between; 
    align-items: center;
    margin: 0; 
    padding: 0;
}

.store-services a p, .user-data a p{
    display: inline;
    align-items: center;
    margin: 0; 
    padding: 0;
}

.search-button-unscrolled {
    color: #F6E8C0;
    border-color: #F6E8C0;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.3);
    width: 40px;
    margin-left: 10px;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

.search-button-scrolled {
    color: black;
    border-color: black;
    border-radius: 20px;
    background-color: transparent;
    width: 40px;
    margin-left: 10px;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

#searchField {
    padding: 10px;
    color: #F6E8C0;
    border-color: transparent;
    background-color: transparent;
    height: 30px;
    width: 0px; 
    padding-right: 40px; 
    box-sizing: border-box; 
    transition: width 0.5s ease;
}

#searchField:focus {
    outline: none;
    border-radius: 20px;
}

#searchField::placeholder {
    color: #F6E8C0;
}

#search {
    /* background-image: url('../images/Landing/magnifying-glass1.png'); */
    color: #F6E8C0;
    font-size: 15px;
    background-color: transparent;
    border-color: transparent;
    /* color: #F6E8C0; */
    width: 30px;
    height: 30px;
    position: absolute; 
    top: 50%; 
    right: 5px;
    transform: translateY(-50%); 
    cursor: pointer; 
    /* background-size: contain; 
    background-repeat: no-repeat; */
    z-index: 999;
}

/* ---------------END OF HEADER-------------- */

.intro{
    position: relative;
    background-image: url("../images/Vintage/vintageBG.jpg");
    background-size: cover;
    background-position: center;
    height: 110em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.overlay{
    background-color: white;
    position: absolute;
    top: 52%;
    left: 50%;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);
    display: flex;
}
.test{
    position: sticky;
    top: 0;
}
.left-content{
    width: 50%;
    padding: 30px;
    margin: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-left: 100px;
    text-align: justify;
    letter-spacing: 1px;
    
}
.left-content p{
    color: rgb(98, 98, 98);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.left-content h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 50px;
}
.left-content button{
    background-color: transparent;
    border: black 1px solid;
    color: black;
    padding: 10px;
    width: 50%;
    margin-top: 10%;
    font-weight: 200;
    font-size: 90%;
    text-decoration: none;
    z-index: 100;
}
.left-content button a{
    color: black;
    text-decoration: none;
}
.left-content button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}
.left-content button:hover a{
    color: white;

}
.right-content{
    width: 50%;
    padding: 30px;
    margin: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    height: auto;
    margin-right: 100px;
    margin-left: 0;
    text-align: center;
    flex: 1;
    max-width: 100%;
}
.right-content img{
    max-width: 100%;
    height: auto;
}

.container{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-gap: 10px; 
}
.item-1{
    grid-area: 1 / 1 / 6 / 6;
}
.item-2{
    grid-area: 3 / 5 / 8 / 10;
    z-index: 1;
}
.item-3{
    grid-area: 8 / 3 / 15 / 8 ;
}
.item-4{
    grid-area: 15 / 1 / 19 / 6;
    z-index: 2;
}
.item-5{
    grid-area: 17 / 5 / 21 / 10;
}
/* ------------------------------------------------------------------ */

.filters{
    display: inline-block;
    padding: 30px;
    margin: 20px;
    margin-left: 50px;

}
.filters p{
    font-size: 20px;
    /* color: rgb(69, 68, 68); */
    /* color: rgb(102, 43, 16); */
    color: black;
    display: inline-block;
}
.fa-sliders{
    color: black;
    /* color: rgb(69, 68, 68); */
    /* color: rgb(102, 43, 16); */
}

#count{
    color: rgb(128, 127, 127);
    font-weight: lighter;
    font-size: 18px;
}
.sort {
    align-items: center; 
    margin-top: 20px;
}

.sort p{
    margin-right: 1125px;
}

.sort span {
    color: rgb(128, 127, 127);
}

#sortButton {
    color: rgb(128, 127, 127);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}
hr{
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
.cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.imge{
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 300px;
}
.imge i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.imge i:hover{
    transform: scale(1.1);
    color: rgb(158, 2, 2);
    font-weight: bolder;
}
.imge img:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease;
}
.card1{
    overflow: hidden;
    position: relative;
    width: 300;
    width: fit-content;
    margin-right: 20px;
    margin-top: 3%;
    height: 29em;
}
/* .card1:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width:max-content;
} */

.info {
    font-weight: 100;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info button{
    padding: 3%;
    width: 60%;
    color: white;
    background-color: black;
    border: black 1px solid;
    margin-top: 5%;
    cursor: pointer;
}
.info button:hover{
    color: black;
    background-color: white;
}
/* ----------------------------FILTER BUTTONS------------------------------ */
.priceButton {
    position: relative; /* Make the container relative */
    width: 160px;
    background-color: transparent;
    border: #bab9b9 1px solid;
    margin: 2% 1% 2% 0;
    float: left; 
}

.priceButton:last-child {
    margin-right: 0; 
}

.spann {
    padding: 10px;
    background-color: transparent;
    color: rgb(105, 105, 105);
    cursor: pointer;
    display: block;
    font-size: 20px;
}

.spann i {
    margin-left: 50%;
    font-size: 15px;
}

.spann::after {
    float: right;
    right: 10%;
}

.slide1 {
    position: absolute; 
    top: 100%; 
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
    z-index: 1000;
    background-color: white;
    border: #bab9b9 1px solid;
}

.slide1 li {
    padding: 30px;
}

#touch1 {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}

#touch1:checked + .slide1 {
    height: fit-content;
}
 
/* SECOND */
.slide2{
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
}
.slide2 li{
    padding: 30px;
}
#touch2{position: absolute; opacity: 0; height: 0px;}    

#touch2:checked + .slide2 {height: fit-content;} 


.slide3{
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
}
.slide3 li{
    padding: 30px;
}
#touch3{position: absolute; opacity: 0; height: 0px;}    

#touch3:checked + .slide3 {height: fit-content;} 